body{
    margin: 0;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 70vw;
    border-radius: 20px;
    gap: 5vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.116);
}
.esquerda{
    background-color: #4d92f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    width: 35vw;
    height: 90vh;
}
.direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-color: white;
    border-radius: 11px;
    width: 25vw;
    height: 70vh;
    box-shadow: -30px 30px 130px 60px rgba(0, 0, 0, 0.253);
}
.dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}
.nome {background-image: url('../img/user.png');}
.email{background-image: url('../img/envelope-simple.png');}
.senha{background-image: url('../img/lock.png');}
.dados-preencher{
    background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 8vh ; /* espaço pro texto */

    height: 7vh;
    width: 17vw;
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-radius: 7px;
    outline: none;
     font-size: clamp(13px, 0.9vw, 28px);
}
.botao{
    height: 7vh;
    width: 21vw;
    background-color: #2765ec;
    border-radius: 10px;
    border-color: rgb(128, 147, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(16px, 1.3vw, 32px);
}
.baixo{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 0.9vw, 20px);
    gap: 6px;
}
.npclogin1{color: rgba(0, 0, 0, 0.781)}
.npclogin2{color: rgb(60, 60, 255);}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.712);
     font-size: clamp(24px, 1.6vw, 38px);
}
.img{
  width: clamp(150px,30vw, 700px); /* mínimo, responsivo, máximo */
  height: auto;
}

@media(max-width: 480px) {
    .principal {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .esquerda {
        width: 100%;
        height: 150px;
        border-radius: 17px 17px 0px 0px;
    }

    .direita {
        width: 100%;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 0px 0px 0px 0px;
    }

    .direito h2 {
        width: 100%;
    }

    .campos input {
        width: 70%;
    }

    .botao {
        width: 100%;
        border: none;
    }

    .baixo {
        font-size: 12px;
    }
}