body{
    margin: 0;
}

main{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
    border-radius: 11px;
    width: 25vw;
    height: 70vh;
    box-shadow: -3px 3px 13px 6px rgba(0, 0, 0, 0.253);
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.712);
    font-size: clamp(24px, 1.6vw, 38px);
}

input{
   background-repeat: no-repeat;
    background-position: 8px center;
    padding-left: 8vh ; /* espaço pro texto */

    height: 7vh;
    width: 17vw;
    border: 2px solid rgba(0, 0, 0, 0.308);
    border-radius: 7px;
    outline: none;
     font-size: clamp(13px, 0.9vw, 28px);
}

.botao{
    height: 7vh;
    width: 21vw;
    background-color: #2765ec;
    border-radius: 10px;
    border-color: rgb(128, 147, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(16px, 1.3vw, 32px);
}

.email-input, .senha-input{
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-bottom: 2vh;
}

.npclogin1{color: rgba(0, 0, 0, 0.781)}
.npclogin2{color: rgb(60, 60, 255);}

.cadastro-link{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(10px, 0.9vw, 20px);
    gap: 6px;
    
}
.npclogin1, .npclogin2{
    text-decoration: none;
    font-weight: bold;

}
a{
    text-decoration: none;
}
.senha{background-image: url('../img/lock.png');}
.email{background-image: url('../img/envelope-simple.png');}