*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap :3vw;
}
.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    width: 30vw;
    height: 90vh;
    /* background-color: red; */
    box-shadow: -3px 3px 13px 6px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
}
.tituloh2{
    margin-top: 4vh;
}
.direita{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60vw;
    height: 90vh;
    margin: 0;
    background-color: white;
    box-shadow: -3px 3px 13px 6px rgba(0, 0, 0, 0.253);
     border-radius: 10px;
   

}
.usuario-perfil{
    height: 20vh;
    width: 20vh;
    border-style:outset;
    border-radius: 100%;
    border-width: 6px;
    padding: 30px;
    border-color: black;
}
.campo-descricao{
    height: 150px;
    width: 23vw;
    background-color: rgb(242, 242, 253);
    border-radius: 7px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}
.container{
    height: 85vh;
    width: 98%;
   
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.classe-linha{
    margin: 1vh;
    padding: 1vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

    border-radius: 6px;
    transition: border 0.5s ease, background-color 0.4s ease; 
    /* border: 3px solid rgba(0, 0, 255, 0.37); */
    box-shadow: -3px 3px 13px 6px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
}
.classe-linha:hover{
    background-color: rgb(217, 224, 255);
}
.container::-webkit-scrollbar-button {
  display: none;  
}
.container::-webkit-scrollbar {
    
    width: 25px;              
    background-color: rgb(187, 187, 187);
    border-radius: 8px;
}
.container::-webkit-scrollbar-thumb {
  background: #8a8cff;        
  border-radius: 10px;
}
input:disabled, textarea:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.editar {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent; 
    border-radius: 50%;
    height: 40px;
    width: 40px;
  
    transition: border 0.5s ease, background-color 0.2s ease; 
}

.editar:hover {
    border-color: rgba(54, 54, 54, 0.747); 
    background-color: #f0f0f0;          
}

.editar:active {
    background-color: rgb(188, 192, 243); 
}
.linha-de-cima{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 7px;
    
}
.campo {
    
    height: 70px;
    margin-bottom: 1vh;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    
    transition: border 0.5s ease, background-color 0.5s ease;
    transition: border 0.5s ease, border-color 0.5s ease;
    resize: none;   /* 🔒 impede redimensionar */
    text-align: start;
}
.campo::placeholder{
    color: rgb(66, 66, 66);
}
.campo:active{border-color: rgb(56, 48, 104);}
.campo:focus{border-color: rgb(171, 163, 214);}
.campo:hover{border-color: #7173ff;}

 
.titulo{
    color: rgba(0, 0, 255, 0.644);
}
.adicionar-arquivos{
    display:flex;
    flex-wrap: wrap;
    gap: 1vw;
   
    
}

.p-visual {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.513); 
    border-radius: 4px;
    height: 310px;
    width: 190px;
  
    transition: border 0.2s ease, border-color 0.2s ease, background-color 0.4s ease;
}

.p-visual:hover {
    border: 3px solid rgba(33, 81, 255, 0.556);
    background-color: #a4adfe;          
}

.p-visual:active {
    background-color: rgb(219, 206, 255); 
}
